/* this is a single-line comment */
body {
    background-color: lightblue;
  }
  h1 {
    color: white;
    text-align: center;
    background-color: transparent;
  }
  p {
    color: red;
    text-align: center;
  }
  * {
    text-align: center;
    color: blue;
  }
.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}